<span class={{if columnData.table.sortable "btn-link"}} {{action "click_label"}}>
  {{#if columnData.table.tableColumnName}}
    {{columnData.table.tableColumnName}}
  {{else}}
    {{columnData.label}}
  {{/if}}
</span>
{{#if isSortedOn}}
  <span class="glyphicon glyphicon-chevron-{{if sortModifier.order "up" "down"}}"></span>
{{/if}}
